# Archivos binarios y ejecutables
*.exe
*.out
*.so
*.dll
*.dylib
*.a
*.o

vendor/

*.log
*.tmp
*.test
coverage.out

.env
.env.*

.DS_Store
Thumbs.db

debug/

.idea/
.vscode/
*.swp
*.swo

/go.sum
/go.work
/go.work.sum

bin/
pkg/
